.page-footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials {
  margin-left: 120px;
}

.footer-socials-title {
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--transition);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--green);
}

.footer-socials-icon {
  display: block;
}
